nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    font-size: 20px;
    background-color: #51829B;
    margin: 0 auto;
}

.logo{
    padding-left: 20px;
    max-width: 50px;
    background-color: #51829B;
}

.btn_Menu{
    background-color: #51829B;
    margin-bottom: 3px unset;
}

.container_theme{
    padding-right: 20px;
    background-color: #51829B;
    display: flex;
}

svg{
    color: #EADFB4;
    margin-top: 2px;
    margin-right: 5px;
}

.container_svg{
    height: 30px;
    background-color: #51829B;
}